<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>zoogent</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Guo Yiheng. All rights reserved.</string>
    <key>Author</key>
    <string>Guo Yiheng</string>
    <key>DeveloperWebsite</key>
    <string>https://github.com/guoyiheng</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/guoyiheng/zoogent/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>L3l7EX2bja5w/8sXv0SrRpmKZYjvRRcQTLMLP4b9/p0=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAllowsAutomaticUpdates</key>
    <true/>
</dict>
</plist>
